body {
    overflow: hidden;
    background-color: lightcyan;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    font-size: 30px;
    text-align: justify;
}

ul {
    position: relative;
    left: 50px;
    top: 100px;
    width: 170px;
    background-color: blue;
    color: white;
    
}

.list1 {
    font-size: 20px;
}

.line1 {
    font-size: 20px;
    line-height: 2.0;
}

.line2 {
    font-size: 20px;
    line-height: 2.0;    
}

.line3 {
    font-size: 20px;
    line-height: 2.0;      
}

#myElement {
    position: relative;
    top: 250px;
    font-size: 30px;
    background-color: darkblue;
    color: white;
}

#myText {
    position: relative;
    top: 270px;
    left: 50px;
    font-size: 50px;
    color:indigo;
}

.hobbie {
    position: relative;
    left: 300px;
    bottom: 150px;
    border-radius: 15px;
}

.cinema {
    font-size: 16px;
    text-align: justify;
    position: relative;
    bottom: 170px;
    left: 350px;
}

.country {
    position: relative;
    left: 800px;
    bottom: 500px;
}

table {
    position: relative;
    left: 750px;
    bottom: 500px;
    border-collapse: collapse;
    border: 2px solid black;
}

tr {
    border: 2px solid black;
    background-color: rgb(84, 158, 154);
}

th {
    color: white;
    font-size: 20px;
    font-family: serif;
}

.travel1 {
    color: white;
    font-size: 40px;
    font-family: serif;
}

.travel2 {
    color: white;
    font-size: 40px;
    font-family: serif;
}

.travel3 {
    color: white;
    font-size: 40px;
    font-family: serif;
}

a:hover {
    color: aqua;
}

.link1 {    
    position: relative; 
    left: 500px;   
    bottom: 480px;
}
